<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" /> -->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-2" >
            <h1>Sidebar</h1>
            <a href="#">Login</a>
        </div>
        <div class="col" >
            <h1>Welcome to the Index page</h1>
            <br>This content is replacing the content of the layout:fragment="content"<br>
            placeholder in layout.html</p>
        </div>
    </div>
</div>
</body>
</html>